ICP/ICP 1-Light Signal/Traffic Light.txt
[
    {
        "id": "5fcb8ec2.e117b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c5d3b4a7.667cb8",
        "type": "inject",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "44c8cb4a.05eae4"
            ]
        ]
    },
    {
        "id": "496a35c1.8b9fec",
        "type": "function",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "func": "if (!msg.payload){\n    context.set('level',0);\nreturn [\n    {payload: false},\n    {payload: 0},\n    {payload: false}\n    ];\n    \n}\n\ncontext.set('level', (context.get('level') || 0)+1);\nif (context.get('level') > 3){\n    context.set('level', 1);\n}\n//context.level = !context.level || false;\n\nconst currentLevel = context.get('level');\n\nreturn [\n    {payload: currentLevel == 1},\n    {payload: currentLevel == 2},\n    {payload: currentLevel == 3}\n    ];",
        "outputs": 3,
        "noerr": 0,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "87aee6ff.2847e8"
            ],
            [
                "ff7a51be.2a472"
            ],
            [
                "1a3a1502.cdd28b"
            ]
        ]
    },
    {
        "id": "87aee6ff.2847e8",
        "type": "arduino out",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "7d27f1ae.0a706",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "ff7a51be.2a472",
        "type": "arduino out",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "7d27f1ae.0a706",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "1a3a1502.cdd28b",
        "type": "arduino out",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "pin": "3",
        "state": "OUTPUT",
        "arduino": "7d27f1ae.0a706",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "44c8cb4a.05eae4",
        "type": "ui_switch",
        "z": "5fcb8ec2.e117b",
        "name": "",
        "label": "switch",
        "group": "88f422b9.22dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "496a35c1.8b9fec"
            ]
        ]
    },
    {
        "id": "7d27f1ae.0a706",
        "type": "arduino-board",
        "z": "",
        "device": "COM5"
    },
    {
        "id": "88f422b9.22dd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "beba254f.b5b5f8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "beba254f.b5b5f8",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]